/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* CORES */
:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: var(--cream);
    height: 100%;
    margin: auto;    
}

img {
    display: block;
    max-width: 100%;
}

.img-desktop {
    display: none;
}

p {
    color: var(--dark-grayish-blue);
    font-family: Montserrat, sans-serif;
}

main {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em 1.2em;
    border-radius: 8px;
}

.img-mobile {
    border-radius: 8px 8px 0 0;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 6%;
}

.content p:first-child {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 1ch;
}

.content h1 {
    color: var(--very-dark-blue);
    font-family: Fraunces, serif;
    font-size: 2rem;
    line-height: 1;
    margin: 4% 0;
}

.content h1 + p {
    font-weight: 500;
    line-height: 1.6;
    margin-top: 1%;
    margin-left: 1%;
}

.price {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.offer {
    color: var(--dark-cyan);
    font-family: Fraunces, serif;
    font-size: 1.575rem;
    font-weight: 700;
    margin-right: 20px;
}

.no-offer {
    color: var(--dark-grayish-blue);
    font-family: Montserrat, sans-serif;
    font-weight: 500;    
    text-decoration: line-through;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 0;
    width: 100%;
    background-color: var(--dark-cyan);
    color: var(--white);
    border-radius: 8px;
    padding: 12px 0;
}

.btn::before {
    display: inline-block;
    content: url('images/icon-cart.svg');
    margin: 2px 10px 0 10px;
}


@media (min-width: 376px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 200px;
        width: 600px;
        height: 450px;
    }
    .img-mobile {
        display: none;
    }
    .img-desktop {
        display: block;
        border-radius: 8px 0 0 8px;
        width: inherit;
        height: inherit;
    }
    .content {
        padding: 0 6%;
    }
    .content p:first-child {
        font-size: 0.75rem;
        margin-bottom: 20px;
    }
    .content h1 + p {
        margin-top: 20px;
        margin-left: 1%;
    }
    .price {
        margin: 25px 0 25px 0;
    }
    .btn:hover {
        background-color: hsl(159, 45%, 14%);
    }
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }